.searchBorder {
    text-align: center;
    border-style: double;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}
.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}
.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:rgba(144, 199, 203, 0.7);
    transition: width 0.4s linear;
}
.searchbar:hover > .search_icon{
    color: rgba(144, 199, 203, 0.7);
    cursor: pointer;
}
.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}
.center {
    text-align: center;
}